# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
# DB 連線 
DATABASE_URL="mysql://[user]:[password]@[host]:[port]/[database]"

# production / development / test
# production log 會寫檔
NODE_ENV=development

APP_PORT=3000
# Root 使用者初始密碼
APP_ROOT_USER_PASSWORD="changeMe"
# 使用者預設密碼
APP_DEFAULT_PASSWORD="66666666"
# 加密 Salt Rounds
APP_SALT_ROUNDS=10

# JWT secret key
JWT_SECRET=changeSecret
# JWT過期時間，10s,5h,7d
JWT_EXPIRES_IN=30m

# log 輸出 level，debug | info | warn | error
LOGGER_LEVEL=debug
# log 資料夾，預設 logs，會建立在 backend/logs
LOGGER_DIRNAME=logs
# log file 滾檔檔案大小
LOGGER_FILE_SIZE=50m
# log 保留天數
LOGGER_MAX_FILE=14d
# log file 是否自動壓縮
LOGGER_ZIP_ARCHIVE=false